.App {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.particles canvas {
    position: static;
    z-index: 0;
}