
.tilt {
    display: flex;
    position: absolute;
    width: 80px;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

@media only screen and (max-width: 600px) {
    .tilt {
        display: inline-flex;
        position: relative;
        margin-left: 0 !important;
    }
}

.brochure {
    padding-top: 2px;
}